language: cpp

sudo: required

services:
- docker

env:
  matrix:
  - APP=amg DOCKEROS=centos7
  - APP=candle-benchmarks DEPS="python" DOCKEROS=centos7
  - APP=examinimd DOCKEROS=centos7
  - APP=laghos DOCKEROS=centos7
  - APP=macsio DOCKEROS=centos7
  - APP=miniamr DOCKEROS=centos7
  - APP=minife DOCKEROS=centos7
  - APP=minitri DOCKEROS=centos7
  - APP=nekbone DOCKEROS=centos7
  - APP=sw4lite DOCKEROS=centos7
  - APP=swfft DOCKEROS=centos7
  - APP=xsbench DOCKEROS=centos7
  - APP=amg2013 DOCKEROS=centos7
  - APP=aspa DOCKEROS=centos7
  - APP=branson DOCKEROS=centos7
  - APP=clamr DOCKEROS=centos7
  - APP=cloverleaf DOCKEROS=centos7
  - APP=cloverleaf3d DOCKEROS=centos7
  - APP=coevp DOCKEROS=centos7
  - APP=cohmm DOCKEROS=centos7
  - APP=comd DOCKEROS=centos7
  - APP=cosp2 DOCKEROS=centos7
  - APP=ebms DOCKEROS=centos7
  - APP=exampm DOCKEROS=centos7
  - APP=exasp2 DOCKEROS=centos7
  - APP=hacckernels DOCKEROS=centos7
  - APP=hpccg DOCKEROS=centos7
  - APP=hpgmg DOCKEROS=centos7
  - APP=kripke DOCKEROS=centos7
  - APP=lcals DOCKEROS=centos7
  - APP=lulesh DOCKEROS=centos7
  - APP=miniaero DOCKEROS=centos7
  - APP=miniamr DOCKEROS=centos7
  - APP=minighost DOCKEROS=centos7
  - APP=minimd DOCKEROS=centos7
  - APP=miniqmc DOCKEROS=centos7
  - APP=minismac2d DOCKEROS=centos7
  - APP=minixyce DOCKEROS=centos7
  - APP=nut DOCKEROS=centos7
  - APP=openmc DOCKEROS=centos7
  - APP=pathfinder DOCKEROS=centos7
  - APP=pennant DOCKEROS=centos7
  - APP=rsbench DOCKEROS=centos7
  - APP=simplemoc DOCKEROS=centos7
  - APP=snap DOCKEROS=centos7
  - APP=snbone DOCKEROS=centos7
  - APP=tealeaf DOCKEROS=centos7

before_install:
  - cp -vr docker ${HOME}/docker
  - cd ../../
  - mv -v ${TRAVIS_REPO_SLUG} $HOME/docker
  - cp -r $HOME/.ccache ${HOME}/docker/ccache
  - git clone --depth 1 https://github.com/spack/spack ${HOME}/docker/spack
  - source ${HOME}/docker/spack/share/spack/setup-env.sh
  - if spack info ${APP} | grep -q mantevo.org/downloads; then INSECURE="--insecure"; fi
  - for i in $(spack list -t proxy-app | grep -v ecp-proxy-apps); do
      echo "Looking for $i"; grep -q "APP=$i" ${HOME}/docker/proxy-ci/.travis.yml || exit 1;
    done

script:
- docker build 
    --build-arg APP="${APP}" --build-arg DEPS="${DEPS}" --build-arg INSECURE="${INSECURE}"
    -t ${TRAVIS_REPO_SLUG}_${DOCKEROS}:${APP} ${HOME}/docker/ --file="${HOME}/docker/Dockerfile-${DOCKEROS}" &&
  rm -rf ${HOME}/.ccache &&
  CON=$(docker run -d ${TRAVIS_REPO_SLUG}_${DOCKEROS}:${APP} /bin/bash) &&
  docker cp ${CON}:/home/ci/.ccache ${HOME}/

after_success:
- if [[ ${TRAVIS_BRANCH} = master ]]; then DEPLOY=yes; fi
- if [[ ${DEPLOY} = yes && ${DOCKER_USERNAME} && ${DOCKER_PASSWORD} && ${TRAVIS_PULL_REQUEST} == false ]]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push "${TRAVIS_REPO_SLUG}_${DOCKEROS}:${APP}";
  fi

cache:
  ccache: true

compiler:
- gcc

notifications:
  email:
    recipients:
      secure: hVpVVqjF5s0TThDx0E5a7fDTEHUlTfv5l0+NHjk1Xj+bA5aV+CgupHXZQaJMq6KEaxnxrnMUm/GqY6BHsAAUOdirPF/l30bez5oHiStBz05EK3HuP/bX997Xc/H6oZnfkAv1HOWIVba9nLTlJIxjkhovzNi7lMh3GGMps+7ApeQ0abWjoerWsfpqlPTljQK2548mfhKs8jP9sT29vbCW9LArzzUtcp1VgScMZC0r/CslLWK9nxEkqvkl6uqU377DXlUO9+XlOktyO+Ut/LcVncwhL2rlshtLi4ExUDFxQiLJd10irZW4ha45WOwgHh1EmyUibTgl84wOiiWSohUZLOp9rQynqdx8lfMMChn9DKXamhSdQz/SBm7kdfyFLBkQxCDP4eaYV/cS5aVfvWji/H6O6tYZvjbL1O3nPY9e/2nNfzAZCiEGCmBHROTe95l/hq8aU7PX1ykuOlN2X/A84tj3W2tAbPSu5fa5ZsBAw/m1JjCwXkkQT3wEqCA7Q7O4LJy8hiZKVLOAQm+ZA18W+oYDSm/NbdRf+QJwtFR3/MQJeE4BvvuhMNvYfb6ErTcXmXbabBe7VA3fYOROzWSHa1lAr30TjvdQUMOuG7ao50acjTovtaHBMkwMAPYX5yMMODJG+oB6PwSo9QIoCHl4FVhMzQGrqJF7XRvJ5Yz8o9k=
